<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <script src="/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<div class="container">
    <nav class="sidebar">
        <div class="sidebar-header">
            <h1>Recipes</h1>
          </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors">View Authors</a></li>
        <li><a href="/ingredients">View Ingredients</a></li>
      </ul>
    </nav>
    <main>
       
<body>
    <h1>List of Authors</h1>
    <select id="authorDropdown" onchange="showRecipesBySelectedAuthor()">
        <option value="">Select an author</option>
        <% authors.forEach(author => { %>
            <option value="<%= author %>"><%= author %></option>
        <% }); %>
    </select>
    <div id="recipesContainer"></div>
</body>
</html>
